.container {
  will-change: transform;
  transform: translate3d(-48.68vw, -15.445vh, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);transform-style: preserve-3d;
}

body {
    background-color: black;
    opacity: 0.5%;
}